@charset "EUC-KR";

main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-negative: 0;
    min-height: 1px;
}

.page {
    min-height: 1px;
}

.user-show-layout {
    position: relative;
}

.myhome-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.page-navigation {
    border-bottom: 1px solid #ededed;
    width: 100%;
    overflow: hidden;
}

.myhome-nav__owner {
    overflow: visible;
    font-size: 16px;
}

@media (min-width: 768px) {
    .myhome-nav__owner {
        font-size: 18px;
    }
}

.page-navigation>ul {
    text-align: center;
    white-space: nowrap;
}

.page-navigation__item {
    /*-moz-user-select: -moz-none;*/
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-navigation__item {
    display: inline-block;
}

.page-navigation__item>a {
    display: block;
    padding: 0 10px;
    font-weight: 700;
    position: relative;
    height: 60px;
    line-height: 60px;
    transition: color .15s ease;
}

.page-navigation__item>a.active, .page-navigation__item>a:not(.active):hover {
    color: #ed4a4a;
}

.myhome-nav__owner .page-navigation__item>a.active:after, .myhome-nav__owner .page-navigation__item>a.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent;
    margin-left: -5px;
    border-width: 0 5px 10px;
    z-index: 1;
}

.myhome-nav__owner .page-navigation__item>a.active:before {
    margin-top: -10px;
    border-color: transparent transparent #dbdbdb;
}

.page-navigation__item>a.active:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #ed4a4a;
    left: 0;
    bottom: 0;
}

.myhome-nav__owner .page-navigation__item>a.active:after, .myhome-nav__owner .page-navigation__item>a.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent;
    margin-left: -5px;
    border-width: 0 5px 10px;
    z-index: 1;
}

.myhome-nav__owner .page-navigation__item>a.active:after {
    margin-top: -8px;
    border-color: transparent transparent #fff;
}

.page-navigation__item:not(:first-child) {
    margin-left: 15px;
}

.myhome-nav__owner .page-navigation__item:not(:first-child) {
    margin-left: 30px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
}

@media (min-width: 375px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100% - 30px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 768px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100% - 80px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100% - 120px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1256px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: 1136px;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}


.user-show-layout>.container {
    margin-bottom: 40px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -5px;
    margin-left: -5px;
}

@media (min-width: 375px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -5px;
        margin-left: -5px;
    }
}

@media (min-width: 768px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -7.5px;
        margin-left: -7.5px;
    }
}

@media (min-width: 1024px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px;
    }
}

@media (min-width: 1256px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px;
    }
}

.wrap--profile {
    padding-top: 30px;
}

@media (min-width: 1024px) {
    .wrap--profile {
        order: 1;
    }
}

@media (min-width: 768px) {
    .user-profile {
        padding: 30px 30px 0;
        border-radius: 4px;
        border: 1px solid #dadce0;
        /* box-shadow: 0 2px 4px 0 rgb(63 71 77 / 6%);*/
    }
}

@media (min-width: 1024px) {
    .user-profile {
        margin-top: 20px;
        padding: 30px 25px 0;
    }
}

.user-profile__share {
    position: absolute;
    top: -14px;
    right: -6px;
}

@media (min-width: 768px) {
    .user-profile__share {
        top: 18px;
        right: 12px;
    }
}

.user-profile__share>button {
    background: transparent;
    border: none;
    transition: opacity .1s;
}

.icon--common-action, .icon--common-etc, .icon--common-footer, .icon--common-pro, .icon--common-star {
    background-repeat: no-repeat;
    display: inline-block;
}

.icon--common-action {
    background-image: url(img/common-action.png);
    background-size: 400px auto;
}

.user-profile__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .user-profile__container {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
}

.user-profile__profile-image {
    width: 84px;
    height: 84px;
    margin-right: 20px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,.07);
    overflow: hidden;
}

@media (min-width: 768px) {
    .user-profile__profile-image {
        width: 120px;
        height: 120px;
    }
}


@media (min-width: 1024px) {
    .user-profile__profile-image {
        margin-right: 0;
        margin-bottom: 24px;
        width: 120px;
        height: 120px;
    }
}

.user-profile__profile-image>img {
    width: 100%;
    height: 100%;
}


.profile-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
}

@media (min-width: 1024px) {
    .profile-info {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
}

.profile-info__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    color: #292929;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    margin-bottom: 6px;
    overflow-wrap: break-word;
    word-break: break-all;
}

@media (min-width: 768px){
    .profile-info__name {
        font-size: 26px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    .profile-info__name {
        text-align: center;
        font-size: 26px;
        line-height: 1.15;
    }
}

.profile-info__follow-state {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    color: #828c94;
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    .profile-info__follow-state {
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin-bottom: 16px;
    }
}


.profile-info__follow-state__text {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    transition: opacity .1s;
}

.profile-info__follow-state__text .highlight {
    font-weight: 700;
    color: #525b61;
}

.profile-info__follow-state__vertical-bar {
    width: 1px;
    height: 9px;
    background-color: #dadce0;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

.profile-info__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 1024px) {
    .profile-info__actions {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
    }
}

.profile-info__actions>* {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: 6px;
}

@media (min-width: 1024px) {
    .profile-info__actions > * {
        margin: 0;
    }
}


.profile-info__btn {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaebef;
    color: #292929;
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 6px 16px;
    min-width: 28px;
    text-align: center;
    transition: background-color .3s ease,color .3s ease,border .3s;
}

.profile-info__btn--primary {
    background-color: #FBE5E5;
    border: 1px solid #effbff;
    color: #3f474d;
}

@media (min-width: 1024px) {
    .profile-info--hide-on-pc {
        display: none;
    }
}

.profile-info__btn>.highlight {
    color: #ed4a4a;
    font-weight: 700;
}

.user-profile__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .user-profile__links {
        border-top: 1px solid #eaebef;
        padding: 22px 12px 18px;
    }
}

@media (min-width: 1024px) {
    .user-profile__links {
        padding: 24px 0;
    }
}

.short-cut {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}


.short-cut__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    max-width: 33.33333%;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity .1s;
}

@media (min-width: 1024px) {
    .short-cut__item {
        padding: 0;
    }
}

.short-cut__item>a {
    display: block;
    width: 100%;
}

.short-cut__icon {
    position: relative;
    margin: 0 auto 4px;
}

.short-cut__icon>svg {
    width: 28px;
    height: 28px;
}

.short-cut__text {
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #424242;
}

@media (min-width: 1024px) {
    .short-cut__text {
        font-size: 13px;
    }
}

.short-cut__text>.highlight {
    margin: 0 2px;
    font-size: 15px;
}

@media (min-width: 1024px) {
    .short-cut__text > .highlight {
        display: block;
    }
}

.profile-info__footer {
    margin-top: 14px;
}

.profile-info__btn--large {
    padding: 14px 0;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.28px;
}

.profile-info__btn>.highlight {
    color: #ed4a4a;
    font-weight: 700;
}

.profile-info__btn>svg {
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 3px;
}

@media (min-width: 1024px) {
    .offset-lg-1 {
        margin-left: 8.3333333333%;
    }
}

@media (min-width: 1024px) {
    .wrap--contents {
        order: 2;
    }
}

@media (min-width: 768px) {
    .contents {
        padding-top: 50px;
    }
}

.post {
    margin-bottom: 60px;
    position: relative;
}

.post__title {
    color: #000;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.post__title>strong {
    color: #ed4a4a;
}

.post__upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;
    border: 1px dashed #dbdbdb;
    box-sizing: border-box;
    color: #757575;
    font-weight: 700;
    font-size: 13px;
}

.icon--page-card, .icon--page-mypage {
    background-repeat: no-repeat;
    display: inline-block;
}

.icon--page-mypage {
    /*background-image: url(/assets/icon_map/v4/page-mypage.png);*/
    background-size: 600px;
}
































<!-- 부트스트랩 -->

.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 375px) {
    .col-12 {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 768px) {
    .col-12 {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

@media (min-width: 1024px) {
    .col-12 {
        padding-right: 10px;
        padding-left: 10px;
    }
}


@media (min-width: 1256px) {
    .col-12 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 1024px) {
    .col-lg-3 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 1024px) and (min-width: 375px) {
    .col-lg-3 {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 1024px) and (min-width: 768px) {
    .col-lg-3 {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

@media (min-width: 1024px) and (min-width: 1024px) {
    .col-lg-3 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 1024px) and (min-width: 1256px) {
    .col-lg-3 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 1024px) {
    .col-lg-8 {
        position: relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.6666666667%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 1024px) and (min-width: 375px) {
    .col-lg-8 {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 1024px) and (min-width: 768px) {
    .col-lg-8 {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

@media (min-width: 1024px) and (min-width: 1024px) {
    .col-lg-8 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 1024px) and (min-width: 1256px) {
    .col-lg-8 {
        padding-right: 10px;
        padding-left: 10px;
    }
}
























<!-- 전체 -->

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

fieldset, img {
    border: 0;
}

h5 {
    font-size: 16px;
}

@media (min-width: 768px) {
    h5 {
        font-size: 18px;
    }
}


