@charset "EUC-KR";

.css-8y5nyu-FormDiv {
    position: relative;
}

.css-ospeve {
    z-index: 500;
}

.css-vxajtd {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    z-index: 500;
}

@media (min-width: 768px) {
    .css-vxajtd {
        border-bottom: 1px solid rgb(219, 219, 219);
    }
}

.css-13ye58v-HeaderPrimaryContent {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 1256px;
    height: 50px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .css-13ye58v-HeaderPrimaryContent {
        height: 79px;
        padding: 0px 30px;
    }
}

.css-1lo2l38-HeaderPrimaryLogoLink {
    flex: 0 0 auto;
    display: none;
    padding: 0px;
    margin: 24px 0px 23px 60px;
}

@media (min-width: 768px){
    .css-1lo2l38-HeaderPrimaryLogoLink {
        display: block;
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {
    .css-1lo2l38-HeaderPrimaryLogoLink {
        margin-left: 30px;
    }
}

.css-1lo2l38-HeaderPrimaryLogoLink > .icon {
    width: 74px;
    height: 32px;
}

.css-1t3yl8n-HeaderPrimarySubmitSection {
    flex: 0 0 auto;
}

.css-19t9f3f-HeaderPrimarySubmit {
    margin: 0px;
    border: none;
    background: none transparent;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 3px 0px;
    color: #ed4a4a;
    font-size: 17px;
    font-weight: bold;
    line-height: 21px;
    transition: background-color 0.1s ease 0s, opacity 0.1s ease 0s;
}

@media (min-width: 768px) {
    .css-19t9f3f-HeaderPrimarySubmit {
        padding: 11px 45px 12px;
        background-color: #ed4a4a;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        border-radius: 4px;
    }
}

.css-38vk11-HeaderSecondary {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.css-1dghme3-TabListUl {
    display: flex;
    margin: 0px auto;
    max-width: 1136px;
}

@media (min-width: 768px) {
    .css-1dghme3-TabListUl {
        padding: 0px 50px;
    }
}

@media (min-width: 1024px) {
    .css-1dghme3-TabListUl {
        padding: 0px 60px;
    }
}

.css-n17caq-TabItemLi {
    flex: 1 0 0px;
}

@media (min-width: 768px) {
    .css-n17caq-TabItemLi {
        flex: 0 0 auto;
        margin-right: 15px;
    }
}

.css-d1mp0l-TabItemButton {
    margin: 0px 0px -1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 12px 5px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #ed4a4a;
    border-bottom: 3px solid #ed4a4a;
}

@media (min-width: 768px) {
    .css-d1mp0l-TabItemButton {
        padding: 14px 5px 15px;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .css-d1mp0l-TabItemButton {
        padding-bottom: 13px;
        border-bottom: 2px solid #ed4a4a;
    }
}

.css-qn5q0d-TabItemButton {
    margin: 0px 0px -1px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 12px 5px 13px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: rgb(66, 66, 66);
}

@media (min-width: 768px) {
    .css-qn5q0d-TabItemButton {
        padding: 14px 5px 15px;
        font-size: 15px;
    }
}

.css-n17caq-TabItemLi > button:not(.active):hover {
    color: #ed4a4a;
}

.css-1h3fsoj-HeaderNewIcon {
    margin-left: 4px;
    vertical-align: -1px;
}

.css-1d7nn6z-FormContent {
    margin: 20px auto 0px;
    padding: 0px 15px;
    max-width: 1003px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .css-1d7nn6z-FormContent {
        margin: 30px auto 0px;
        padding: 0px 30px;
    }
}

.css-ogmp42-MetadataFormDiv {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 20px;
}

@media (min-width: 768px) {
    .css-ogmp42-MetadataFormDiv {
        margin: 0px 0px 40px;
    }
}

.css-1iht2ie-MetadataFormSide {
    flex: 0 1 auto;
}

.input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.select-input {
    position: relative;
}

.css-7kwypw-MetadataFormSelectInput {
    display: inline-block;
    margin: 0px 5px 10px;
    width: auto;
}

.form-control {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.form-control {
    transition: .2s border-color, .2s box-shadow, .2s background-color;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    color: #424242;
    font-size: 12px;
}

@media (min-width: 768px) {
    .form-control {
        font-size: 14px;
    }
}

.input-group .form-control {
    width: 0;
}

.select-input>.form-control {
    width: 100%;
    padding-right: 30px;
    background-image: none;
}

.css-7kwypw-MetadataFormSelectInput .form-control {
    font-size: 15px;
}

.select-input.input-group>.form-control {
    width: 100%;
}

.select-input>.form-control.empty {
    color: #bdbdbd;
}

.select-input>.form-control>option {
    color: #424242;
}

.select-input>.form-control>option:disabled {
    color: #bdbdbd;
}


.select-input__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
    pointer-events: none;
}

.css-40lbws-ContainerDiv {
    display: flex;
}

.css-1om8smb-OverviewListOl-ContainerOverviewList {
    display: none;
    width: 115px;
    margin-right: 5px;
}

@media (min-width: 768px){
    .css-1om8smb-OverviewListOl-ContainerOverviewList {
        display: block;
    }
}

@media (min-width: 1256px) {
    .css-1om8smb-OverviewListOl-ContainerOverviewList {
        margin-right: 10px;
        margin-left: -125px;
    }
}

.css-5dor4c-CardListOl-ContainerCardList {
    flex: 1 0 0px;
}

.css-10n24i7-CardDiv {
    padding: 0px 0px 20px;
}

@media (min-width: 768px) {
    .css-10n24i7-CardDiv {
        padding: 0px 0px 40px;
    }
}

@media (min-width: 768px){
    .css-8e6x5e-CardItemDiv {
        display: flex;
        margin: 0px -12px;
    }
}

@media (min-width: 768px) {
    .css-4d4cqx-CardItemLeft {
        flex: 1 0 0px;
        margin: 0px 12px;
    }
}

.css-1h7vqm-UploadButton {
    margin: 0px;
    padding: 0px 0px 60%;
    border: none;
    background: none;
    font: inherit;
    display: block;
    position: relative;
    width: 100%;
    transition: opacity 0.1s ease 0s;
    border-radius: 4px;
    box-sizing: border-box;
}

.css-k2po69-UploadButtonContent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(247, 248, 250);
    border: 1px dashed rgb(218, 220, 224);
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.css-utuafj-UploadCameraIcon {
    margin: 0px 0px 12px;
    color: rgb(164, 172, 179);
}

.css-xvgt90-UploadTitle {
    margin: 0px 0px 4px;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    color: rgb(130, 140, 148);
}

.css-o7lg39-UploadDescription {
    font-size: 12px;
    line-height: 20px;
    color: rgb(130, 140, 148);
}

.css-1k7ciri-CardItemRight {
    margin: 10px 0px 0px;
}

@media (min-width: 768px) {
    .css-1k7ciri-CardItemRight {
        flex: 1 0 0px;
        margin: 0px 12px;
    }
}

.input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.select-input {
    position: relative;
}

.css-yk768g-CardItemDescriptionSelectInput {
    margin: 0px 0px 10px;
}

.css-ryivqb-CardItemDescriptionDiv {
    margin: 0px 0px -10px;
}


.form-group.error .form-control, .form-control.error {
    border-color: #f77;
}

.select-input>.form-control {
    width: 100%;
    padding-right: 30px;
    background-image: none;
}

.css-yk768g-CardItemDescriptionSelectInput .form-control {
    font-size: 15px;
}


.select-input__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
    pointer-events: none;
}

.select-input.errored .select-input__icon {
    color: #f77;
}


._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

._1qwAY {
    padding: 8px 15px 9px;
}

.css-10wf1a7-CardItemDescriptionTextInput.css-10wf1a7-CardItemDescriptionTextInput {
    margin: 0px 0px 10px;
}

.keyword-input {
    margin: -3px;
}

.css-17nk9gk-CardItemDescriptionKeywordInput {
    margin: 0px 0px 10px;
}

.keyword-input__input-item {
    display: inline-block;
    margin: 3px;
    max-width: calc(100% - 6px);
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #757575;
}

.keyword-input__input-item__input {
    -webkit-appearance: none;
    max-width: calc(100% - 26px);
    padding: 5px 8px 6px 18px;
    font: inherit;
    line-height: inherit;
    color: #757575;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    transition: box-shadow .2s;
}

.keyword-input__input-item>div[style] {
    overflow: hidden!important;
}

.keyword-input__input-item:after {
    content: "#";
    position: absolute;
    left: 8px;
    top: 5px;
    pointer-events: none;
}






































<!-- 전체 -->
div{
    margin: 0;
    padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.layout, .page, body, html {
    height: 100%;
}

ol, ul {
    list-style: none;
}

input[type='number'], input[type='text'], input[type='password'], input[type='file'], input[type='tel'], input[type='email'], select, option, textarea, input[type='submit'], button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

a, button, [role=button], input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
